.navigation {
  padding: 28px 0;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  padding-bottom: 2px;
  padding-right: 1px;
}

.nav_links a {
  margin-right: 48px;
  line-height: 150%;
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
  font-weight: var(--ifm-font-weight-semibold);
}

.nav_links a:hover {
  color: var(--ifm-navbar-link-hover-color);
  font-size: var(--ifm-font-weight-semibold);
}

.logo {
  margin-top: 4px;
  margin-left: 2rem;
}

/* mobile_navigation */

.mobile_navigation {
  padding: 24px 0;
  padding-right: 24px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.hamburger_button {
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 750px) {
  .navigation {
    display: none;
  }
  .mobile_navigation {
    display: flex;
  }
  .logo img {
    height: 24px;
  }
}
