.mobile_center_image {
  display: none;
}

#wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6rem 20.5vw 0 20.5vw;
}

#wrapper3 {
  margin: 30px 20.5vw 0 20.5vw;
  display: flex;
  flex-flow: column wrap;
  background: url(/img/8bg.svg) center top no-repeat;
}

#wrapper4 {
  display: flex;
  align-items: center;
  margin: 8.5rem 20.5vw 120px 20.5vw;
  justify-content: space-between;
  flex-flow: row wrap;
}

.card {
  max-width: 28.125rem;
}

.card h2 {
  margin-bottom: 2rem;
}

.card ul {
  list-style-image: url(/img/sharp.svg);
  padding-left: 20px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
}

.card ul li {
  padding-bottom: 1rem;
}

.card1 {
  composes: card;
}

.card2 {
  composes: card;
  margin-top: 130px;
  align-self: flex-end;
}

#open__container {
  padding: 30px 45px;
}

#open_svg {
  margin-top: -10px;
}

#open {
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  max-width: 40rem;
}

.open_box {
  display: flex;
  width: 100%;
  justify-self: start;
}

.close_box {
  margin: 6rem 0 2.5rem 0;
  display: flex;
  justify-self: start;
}

#business_card {
  padding: 2.5rem;
  border-radius: 20px;
  justify-self: center;
  width: 507px;
  height: 280px;
  overflow: hidden;
  background: #f2f8ff;
  background-image: url(/img/business_card_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 0px 20px 40px rgba(9, 30, 66, 0.14);
  border-radius: 20px;
}

#business_card_logo {
  height: 1.5rem;
}

#business_card p {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 17px;
  margin: 0;
}

#business_card_contacts {
  margin-top: 47px;
  display: grid;
  width: 87%;
  grid-template-columns: auto auto;
  grid-template-areas:
    "email telegram"
    "phone whatsapp";
}
.card_contact {
  margin-bottom: 9px;
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
}
.card_contact:hover {
  color: var(--ifm-navbar-link-hover-color);
  text-decoration: none;
}
.card_contact::before {
  position: relative;
  top: 5px;
  margin-right: 1ch;
}
.card_email {
  grid-area: email;
  composes: card_contact;
}
.card_telegram {
  grid-area: telegram;
  composes: card_contact;
}
.card_phone {
  grid-area: phone;
  composes: card_contact;
}
.card_whatsapp {
  grid-area: whatsapp;
  composes: card_contact;
}
.card_email::before {
  content: url(/img/email.svg);
}

.card_telegram::before {
  content: url(/img/telegram.svg);
}

.card_phone::before {
  content: url(/img/phone.svg);
}

.card_whatsapp::before {
  content: url(/img/whatsapp.svg);
}
@media only screen and (max-width: 1750px) {
  #wrapper3 {
    background-position: 25% center;
    background-size: 70%;
  }
  .card2 {
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 1500px) {
  #wrapper3 {
    background: none;
  }
  .mobile_center_image {
    display: block;
    align-self: center;
    margin: 2rem 0;
  }
  .card2 {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  #wrapper2 {
    margin: 4rem 5vw 2rem 5vw;
    display: grid;
    justify-items: center;
  }

  .open_box {
    max-width: 28.125rem;
  }

  #wrapper3 {
    background: none;
    margin: 0 5vw;
  }

  #wrapper4 {
    display: grid;
    justify-content: center;
    margin: 0 5vw 5rem 5vw;
  }

  .card1 {
    align-self: center;
  }

  .card2 {
    align-self: center;
    margin-top: 0;
  }

  #open__container {
    padding: 1rem 1rem;
    align-self: center;
  }

  #open__container h1 {
    margin: 0;
  }

  #open {
    font-size: min(7vw, 3rem);
  }

  .open_box {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .close_box {
    justify-self: start;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .card h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 120%;
  }
  #business_card {
    width: 100%;
    max-width: 25rem;
    min-width: 19rem;
    height: 100%;
    background: #f2f8ff;
    background-image: url(/img/business_card_bg-mobile.svg);
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  #business_card_contacts {
    font-size: 1rem;
    font-weight: 500;
    grid-template-columns: auto;
    grid-template-areas:
      "email"
      "phone"
      "telegram"
      "whatsapp";
    background: none;
  }
}
