@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 0;
  padding: 28px 0;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
  padding-bottom: 2px;
  padding-right: 1px;
}

.nav_links a {
  margin-right: 48px;
  line-height: 150%;
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
  font-weight: var(--ifm-font-weight-semibold);
}

.nav_links a:hover {
  color: var(--ifm-navbar-link-hover-color);
  font-size: var(--ifm-font-weight-semibold);
}

.logo {
  margin-top: 4px;
  margin-left: 2rem;
}

/* mobile_navigation */

.mobile_navigation {
  padding: 24px 0;
  padding-right: 24px;
  display: none;
  justify-content: space-between;
  align-items: center;
}
.hamburger_button {
  background-color: transparent;
  border: none;
}
.mobile_nav_links_box {
  display: none;
  z-index: 0;
  animation: 0.3s ease-out 0s 1 slideInFromLeft;
  position: absolute;
  top: 5rem;
  background-color: rgba(9, 30, 66, 1);
  width: 100%;
  height: calc(100vh - 5rem);
}

@media only screen and (max-width: 750px) {
  .mobile_nav_links_box {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }
  .mobile_navigation_links {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    color: white;
  }
  .mobile_navigation_links a {
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  .navigation {
    display: none;
  }
  .mobile_navigation {
    display: flex;
  }
  .logo img {
    height: 24px;
  }
}
