/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@import "Montserrat.css";
@import "docs.css";
@import "home.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: Montserrat;
  --ifm-color-primary: #0052cc;
  --text-color-primary: #091e42;
  --ifm-color-primary-light: #0052cc;
  --ifm-navbar-link-hover-color: #0052cc;
  --ifm-navbar-link-color: #091e42;
  --ifm-font-weight-semibold: 600;
  --ifm-navbar-padding-vertical: 30px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-navbar-shadow: none;
  --global-background-color: #f2f8ff;
  --footer-link-color: #5a9dff;
  --footer-hover-link-color: #fff;
  --ifm-navbar-background-color: transparent;
  --doc-sidebar-width: 350px !important;
  --ifm-toc-border-color: none;
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color: #091e42;
  --ifm-menu-link-padding-horizontal: 0;
  --ifm-menu-link-sublist-icon: none;
  --ifm-container-width-xl: 1560px;
  --ifm-navbar-padding-horizontal: 0;
  --ifm-toc-padding-vertical: 20px;
  --ifm-toc-link-color: #091e42;
  --ifm-z-index-fixed: 0;
  --ifm-navbar-height: 82px;
  --ifm-z-index-overlay: 1;
}

body {
  color: var(--text-color-primary);
  background-color: var(--global-background-color);
  position: relative;
  font-size: 1rem;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 120%;
}

h1 span {
  border-radius: 4px;
  padding: 0 4px 4px 4px;
  background-color: #aac7f0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
}

.btn {
  padding: 1rem;
  border: 4px solid var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-light);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  padding: 11px 20px;
  text-decoration: none;
}

.btn:hover {
  border: 4px solid var(--text-color-primary);
  text-decoration: none;
  color: var(--text-color-primary);
}

.btn_primary {
  background-color: var(--ifm-color-primary-light);
  color: var(--global-background-color);
}

.btn_primary:hover {
  background-color: var(--text-color-primary);
  color: var(--global-background-color);
}
.btn_arrow {
  padding-top: 14px;
  padding-bottom: 14px;
}
.btn_arrow::after {
  content: url(/img/btn_arrow.svg);
  padding-left: 10px;
  position: relative;
  top: 3px;
}
.btn_arrow:hover::after {
  content: url(/img/btn_arrow_hover.svg);
}

.nav_btn {
  padding: 1rem;
  border: 4px solid white;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  padding: 11px 20px;
  text-decoration: none;
  text-align: center;
}
.nav_btn:hover {
  border: 4px solid var(--text-color-primary);
  text-decoration: none;
  color: var(--text-color-primary);
}
.nav_btn:visited {
  color: white;
  border: 4px solid white;
}
