/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@import "Montserrat.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: Montserrat;
  --ifm-color-primary: #091e42;
  --ifm-color-primary-light: #0052cc;
  --ifm-navbar-link-hover-color: #0052cc;
  --ifm-navbar-link-color: #091e42;
  --ifm-font-weight-semibold: 600;
  --ifm-navbar-padding-vertical: 30px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-navbar-shadow: none;
  --global-background-color: #f2f8ff;
  --footer-link-color: #5a9dff;
}

.react-toggle {
  display: none;
}

body {
  color: var(--ifm-color-primary);
  background-color: var(--global-background-color);
  position: relative;
}

.main__box {
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(/img/hero-curve.svg);
}

.nalozhenie {
  background-image: url(/img/1920-.png);
}

#svg_curve {
  z-index: -10;
  position: absolute;
  width: 2000px;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

h1 span {
  border-radius: 4px;
  padding: 0 4px 4px 4px;
  background-color: #aac7f0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
}

h3::before {
  content: url(/img/sharp.svg);
  padding-right: 0.6ch;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
}

.btn {
  padding: 1rem;
  border: 4px solid var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-light);
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  padding: 11px 20px;
  text-decoration: none;
}

.btn:hover {
  border: 4px solid var(--ifm-color-primary);
  text-decoration: none;
}

.btn_primary {
  background-color: var(--ifm-color-primary-light);
  color: var(--global-background-color);
}

.btn_primary:hover {
  background-color: var(--ifm-color-primary);
  color: var(--global-background-color);
}
.btn_arrow {
  padding-top: 14px;
  padding-bottom: 14px;
}
.btn_arrow::after {
  content: url(/img/btn_arrow.svg);
  padding-left: 10px;
  position: relative;
  top: 3px;
}
.btn_arrow:hover::after {
  content: url(/img/btn_arrow_hover.svg);
}
