.navbar__inner {
  padding-top: 4px;
  padding-right: 6px;
}

.navbar__logo {
  height: 36px;
  margin-left: 2rem;
}

.navbar__link {
  padding: 0;
  margin-top: 1px;
  margin-right: 48px;
  line-height: 150%;
  color: var(--ifm-navbar-link-color);
  text-decoration: none;
  font-weight: var(--ifm-font-weight-semibold);
}

.menu {
  margin-top: 48px;
  margin-left: 25px;
  margin-right: 16px;
}

.menu__link {
  font-family: Montserrat;
  font-style: normal;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  padding-left: 0;
  padding-right: 40px;
  margin-top: 36px;
  margin-bottom: 14px;
}

.menu__link:hover {
  background-color: transparent;
  color: var(--ifm-navbar-link-hover-color);
}

.menu__list-item .menu__list .menu__list-item a {
  margin-left: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  margin: 10px 0;
  padding: 6px 50px 6px 16px;
}

.menu__list .menu__list-item .menu__list .menu__list-item .active {
  border-left: solid 2px var(--ifm-navbar-link-hover-color);
  padding-left: 14px;
  border-radius: 0;
  color: var(--ifm-navbar-link-hover-color);
}
.menu__list-item--collapsed .menu__link--sublist:after {
  transform: rotateZ(0deg);
}

.menu__link--sublist:after {
  background: url(/img/chevron-up.svg) center center no-repeat;
  display: block;
  position: relative;
  top: -2px;
  right: -38px;
}
aside {
  background-color: #fff;
}

article {
  padding: 2rem;
}

.table-of-contents {
  padding-left: 28px;
  padding-top: 58px;
}

.table-of-contents__link {
  padding: 7px 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.table-of-contents__link--active {
  border-left: solid 2px var(--ifm-navbar-link-hover-color);
  padding-left: 16px;
  border-radius: 0;
  color: var(--ifm-navbar-link-hover-color);
}
.menu__list-pending span {
  display: inline-block;
}
.menu__list-pending span:hover {
  color: var(--ifm-navbar-link-color);
}

.menu__link span {
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--ifm-navbar-link-hover-color);
  border-radius: 4px;
  background-color: rgba(0, 82, 204, 0.1);
  padding: 4px 10px;
}
.menu__link span:hover {
  color: var(--ifm-navbar-link-hover-color);
}
