.section {
  padding-top: 121px;
  padding-left: 0;
  min-height: 600px;
  background: url(/img/cicd.svg) no-repeat 85% 20%;
  margin-bottom: -66px;
}

.section h1 {
  max-width: 15ch;
}

.section p {
  margin-top: 34px;
  margin-left: 0;
  padding-left: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
}

.section > ul {
  margin-top: 20px;
  list-style: none;
}

.list > li::before {
  content: url(/img/sharp.svg);
  margin-right: 6px;
}

.list > li:last-child {
  margin-top: -1px;
}

.section > ul > li {
  margin: 16px 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.section > ul > li > span {
  line-height: 20px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
}

.section .cicdmobile {
  display: none;
}
@media (max-width: 1650px) {
  .section {
    background-size: 50%;
    background-position: bottom;
  }
}

@media only screen and (max-width: 750px) {
  .section {
    padding-top: 1rem;
    background: none;
  }
  .section p {
    font-size: 1rem;
  }
  .section p span {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .section > ul {
    padding-left: 0;
  }

  .section ul li {
    font-size: 0.9rem;
  }
  .section > ul > li > span {
    font-size: 1rem;
    margin-left: 0.1rem;
  }

  .section .cicdmobile {
    display: block;
  }
  .section h1 {
    font-size: min(7.4vw, 3rem);
  }

  .section img {
    margin: auto;
  }
}
