.container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
}
.container section {
  position: relative;
}
.container section hr {
  width: 120px;
  border: none;
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
  position: absolute;
  right: calc((4px - 120px) / 2);
  top: 164px;
  transform: rotate(90deg);
  margin: 0;
}

h3 {
  margin-top: 16px;
  margin-bottom: 36px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
}

h4 {
  margin-top: 18px;
  margin-bottom: 10px;
}

h4::before {
  content: url(/img/sharp.svg);
  padding-right: 0.6ch;
}

section p {
  margin: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.section__1 {
  margin-top: 59px;
  border-right: 4px dashed rgba(9, 30, 66, 0.12);
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
}

.title {
  display: inline-block;
  border-radius: 45px;
  padding: 10px 20px;
  margin: 0 0 0 24px;
  background-color: rgba(0, 82, 204, 0.12);
  font-size: 20px;
  line-height: 150%;
}

.heading {
  background-color: #f2f8ff;
  margin-top: -45px;
  display: flex;
  align-items: center;
}

.technologies {
  margin-top: 30px;
  padding: 20px 10px;
  border: 4px solid rgba(9, 30, 66, 0.1);
  box-sizing: border-box;
  width: 404px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: rgba(9, 30, 66, 0.5);
}

.heading__1 {
  width: 19.75rem;
}

.section__2 {
  padding-left: 30px;
  margin-top: 155px;
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
  padding-bottom: 43px;
}

.section__3 {
  border-right: 4px dashed rgba(9, 30, 66, 0.12);
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
}

.heading__3 {
  width: 18.2rem;
}

.section__4 {
  padding-left: 30px;
  margin-top: 121px;
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
  /* border-left: 4px dashed rgba(9, 30, 66, 0.12); */
  padding-bottom: 40px;
}

.section__5 {
  margin-top: -105px;

  border-top: 4px dashed rgba(9, 30, 66, 0.12);
}

.heading__5 {
  width: 18rem;
}

.section__6 {
  position: relative;
  padding-left: 30px;
  margin-top: 121px;
  border-top: 4px dashed rgba(9, 30, 66, 0.12);
}

.heading__6 {
}
