.tooltip {
  display: inline;
}

.tooltip:hover .tooltip__info {
  display: block;
}

.tooltip__element {
  display: inline;
  margin-left: 4px;
  padding: 0;
  transform: translate(0, 5px);
}

.tooltip__info {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  /* transform: translate(-50%, 0); */
  z-index: 1;
  /* max-width: 75ch; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  background: #091e42;
  box-shadow: 0px 20px 20px rgba(9, 30, 66, 0.4);
  border-radius: 12px;
  color: #fff;
  padding: 1rem;
}

.container {
  margin-left: -16px;
  display: grid;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.container > .table__head,
.container > .table__footer,
.container > .row,
.container > .row_white {
  display: grid;
  grid-template-columns: 1fr 172px 172px 172px 172px;
  column-gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
  min-height: 32px;
}

.container > .row_white {
  background-color: white;
}
.container > .table__head div,
.container > .table__footer div,
.container > .row div,
.container > .row_white div {
  text-align: center;
  align-items: stretch;
}

.container > .row > .heading_start {
  margin-top: 40px;
  justify-self: start;
  text-align: left;
  position: relative;
  margin-left: 0;
  padding-left: 16px;
}

.container > .row > .cell_start,
.container > .row_white > .cell_start {
  justify-self: start;
  text-align: left;
  position: relative;
  margin-left: 0;
  padding-left: 16px;
}

.container > .row_white > .cell_start {
  border-radius: 4px;
}

.container > .row > .heading_start > strong {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.container > .row > div,
.container > .row_white > div {
  border-left: 4px solid #dae7fa;
  border-right: 4px solid #dae7fa;
  padding-top: 6px;
}

.container > .table__head > div {
  padding-top: 32px;
}

.container > .table__head > div {
  border-top: 4px solid #dae7fa;
  border-left: 4px solid #dae7fa;
  border-right: 4px solid #dae7fa;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.container > .table__head > div:first-child,
.container > .table__footer > div:first-child,
.container > .row > div:first-child,
.container > .row_white > div:first-child {
  border: none;
}

.container > .row > div:nth-child(5),
.container > .row_white > div:nth-child(5),
.container > .table__head > div:nth-child(5),
.container > .table__footer > div:nth-child(5) {
  border-color: #0052cc;
}

.container > .table__footer div {
  padding-top: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #091e42;
}

.container > .table__footer div span {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 150%;
  color: #0052cc;
}

.container > .table__footer > div {
  border-bottom: 4px solid #dae7fa;
  border-left: 4px solid #dae7fa;
  border-right: 4px solid #dae7fa;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container > .table__footer > div {
  padding-bottom: 32px;
}

.mark {
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(9, 30, 66, 0.14);
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  padding: 39px 32px;
}
