#main_footer {
  padding: 2rem 20.5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--text-color-primary);
  color: var(--global-background-color);
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 150%;
}

#main_footer span a {
  color: var(--footer-link-color);
}

#main_footer span a:hover {
  color: var(--footer-hover-link-color);
  text-decoration: none;
}
